@model List<QRGenerador.Models.QRAtributo>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Historial de códigos QR generados</h2>
            <br />
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                           <th>
                               ID
                           </th>
                           <th>
                               URL
                           </th>
                           <th>
                               QR
                           </th>
                        </tr>
                    </thead>    
                    <tbody>
                        @foreach (var item in Model)
                        {
                           <tr>
                              <td>
                                  @Html.DisplayFor(modelItem => item.ID)
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.URL)
                              </td>
                              <td>
                                  <img src="data: image/png; base64, @Convert.ToBase64String(item.Imagen)" alt="Codigo QR" width="100" height="100" />
                                  <a asp-action="VerQr" asp-route-url="@item.URL">Ver QR</a>
                              </td>
                           </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
                <a asp-action="Index" class="btn btn-primary justify-content-center" >Regresar al inicio</a>  
        </div>   
    </div>
</div>




    
